.wiki a {
  color: #4089C9;
  text-decoration: none;
}

.wiki a:hover {
  color: #4089C9;
  text-decoration: underline;
}

.mainArticleImg{
  float: right;
  width: 50%;
  height: auto;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.wiki h1,
.wiki h2,
.wiki h3,
.wiki h4 {
  color: #8A5BC2;
}

.tableSm{
  float: right;
  width: 25%;
}

.tableMd{
  float: right;
  width: 50%;
}