.wiki a {
  color: var(--accent);
}   

.wiki img{
  float: right;
  width: 50%;
  height: auto;
}

.wiki h1, h2, h3, h4{
  color: #4089C9;
}

.tableSm{
  float: right;
  width: 25%;
}

.tableMd{
  float: right;
  width: 50%;
}