.wiki a {
  color: #4089C9;
  text-decoration: none;
}

.wiki a:hover {
  color: #4089C9;
  text-decoration: underline;
}

.wiki img{
  float: right;
  width: 50%;
  height: auto;
}

.wiki h1,
.wiki h2,
.wiki h3,
.wiki h4 {
  color: #8A5BC2;
}

.tableSm{
  float: right;
  width: 25%;
}

.tableMd{
  float: right;
  width: 50%;
}